<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/purchase" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="phone">Phone:</label>
            <input type="text" name="phone">
            <label for="amount">Amount:</label>
            <input type="text" name="amount">
            <!-- <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="address">Address:</label>
            <input type="text" name="address"> -->
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>